html {
  font-size: 62.5%;
}

body {
  overflow-y: scroll;
  font-family: 'EB Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // background-color: #dee4e7;
}

a {
  text-decoration: none;
  color: inherit;
}


.centered-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

::selection {
  color: #d4f5e7;
  background-color: #f14a4d;
}
