$break-big: 1200px;
$break-large: 900px;
$break-med: 768px;
/* Type Scale */
$--step-up-6: 5.61em;
$--step-up-5: 4.209em;
$--step-up-4: 3.157em;
$--step-up-3: 2.369em;
$--step-up-2: 1.777em;
$--step-up-1: 1.333em;
/* baseline: 1em */
$--step-down-1: 0.75em;
$--step-down-2: 0.563em;
$--step-down-3: 0.422em;
$--step-down-4: 0.317em;
$--step-down-5: 0.238em;

$red: #ed1b37;
