/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif; }

body {
  overflow-y: scroll;
  font-family: 'EB Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center; }

a {
  text-decoration: none;
  color: inherit; }

.centered-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

/* Type Scale */
/* baseline: 1em */
.header {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 7rem;
  background: #fff;
  z-index: 99;
  box-shadow: 0px 5px 30px 20px #fff; }
  .header .logo {
    display: inline-block;
    float: left;
    margin: 2rem 2rem 0 5rem;
    height: 5rem;
    width: 10rem;
    background-repeat: no-repeat;
    background-image: url("../logo.jpg");
    cursor: pointer; }
  .header .burger {
    display: inline-block;
    float: right;
    margin: 2rem 5rem 0 2rem;
    width: 50px;
    height: 50px;
    cursor: pointer; }

.categories {
  font-family: 'futura pt', sans-serif;
  position: fixed;
  top: 0%;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  z-index: 99; }
  .categories__list {
    margin-top: 2.5rem;
    text-align: center; }
  .categories__item {
    display: inline-block;
    list-style: none;
    margin-right: 2rem; }
    .categories__item:hover {
      cursor: pointer;
      text-decoration: underline; }

.posts-feed {
  margin-top: 20rem;
  font-size: 1.6rem; }
  .posts-feed__post {
    position: relative;
    overflow: hidden; }
  .posts-feed__details {
    display: inline-block;
    position: relative;
    max-width: 1200px;
    /* float: right; */
    clear: both;
    margin: 2rem auto;
    z-index: 10; }
  .posts-feed__title {
    padding: 2rem;
    font-size: 5.61em;
    margin-bottom: 0; }
    .posts-feed__title:hover {
      cursor: pointer;
      color: #ed1b37; }
  .posts-feed__count {
    font-size: 1.333em;
    position: absolute;
    left: 0%;
    /* The details div resizes to length of title, so this will cause numbers to be offset with each other */
    top: 10%; }
  .posts-feed__date {
    color: #fff;
    font-family: "futura-pt",sans-serif;
    font-weight: 700;
    display: inline-block;
    width: 20rem;
    opacity: 0;
    transition: all 500ms; }
    .posts-feed__date--active {
      opacity: 1; }
  .posts-feed__category {
    color: #fff;
    font-family: "futura-pt",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    width: 20rem;
    opacity: 0;
    transition: all 500ms; }
    .posts-feed__category--active {
      opacity: 1; }
  .posts-feed__image {
    position: fixed;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    width: auto;
    height: 70vh;
    /* visibility: hidden; */
    opacity: 0;
    z-index: -9;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    -webkit-backface-visibility: hidden; }

.active {
  /* visibility: visible; */
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  opacity: 1; }

.pagination {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 10rem 0 5rem 0; }
  .pagination button {
    border: none;
    padding: 1em 2em; }
    .pagination button:hover {
      cursor: pointer; }
    .pagination button:active {
      cursor: pointer;
      background-color: #FC4C4C; }

.post {
  font-size: 1.8rem;
  margin-top: 4rem; }
  .post__intro {
    width: 100%;
    height: 45vw; }
  .post__container {
    position: relative;
    display: inline-block;
    width: 49%;
    height: 100%; }
  .post__featured {
    position: absolute;
    transform: translateX(-50%);
    width: auto;
    height: 45vw;
    /* visibility: hidden; */
    opacity: 1;
    -webkit-backface-visibility: hidden; }
  .post__title {
    max-width: 45vw;
    position: absolute;
    top: 30%;
    left: 0%;
    display: inline-block;
    font-size: 4.209em;
    text-align: left; }
  .post__meta {
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 0%; }
  .post__heading {
    padding: 1em 0 .5em 0;
    color: #808080;
    text-transform: lowercase; }

/*# sourceMappingURL=app.css.map */
