.posts-feed {
  margin-top: 20rem;
  font-size: 1.4rem;

  @media screen and (min-width: $break-large) {
    font-size: 1.8rem;
  }

  @media screen and (min-width: $break-big) {
    font-size: 2.2rem;
  }

  &__post{
    position: relative;
    overflow: hidden;
  }

  &__details {
    display: inline-block;
    position: relative;
    max-width: 1200px;
    /* float: right; */
    clear: both;
    margin: 2rem auto;
    z-index: 10;
  }

  &__title {
    padding: 2rem;
    font-size: $--step-up-5;
    margin-bottom: 0;

    &:hover {
      cursor: pointer;
      color: $red;
    }
  }

  &__count {
    position: absolute;
    left: 2%;
    top: 10%;

    @media screen and (min-width: $break-med) {
      left: 0%;
    }
  }

  &__date {
    color: #fff;
    // font-size: $--step-down-1;
    font-family: "futura-pt",sans-serif;
    // font-weight: 700;
    display: inline-block;
    width: 20rem;
    opacity: 0;
    transition: all 500ms;

    &--active {
      opacity: 1;
    }
  }

  &__category {
    color: #fff;
    // font-size: $--step-down-1;
    font-family: "futura-pt",sans-serif;
    // font-weight: 700;
    display: inline-block;
    width: 20rem;
    opacity: 0;
    transition: all 500ms;

    &--active {
      opacity: 1;
    }
  }

  &__image {
    position: fixed;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    width: auto;
    height: 70vh;
    /* visibility: hidden; */
    opacity: 0;
    z-index: -9;
    visibility: hidden;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    -webkit-backface-visibility: hidden;

    @media screen and (min-width: $break-med) {
      visibility: visible;
    }
  }
}

.active {
  /* visibility: visible; */
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  opacity: 1;
}

.home-overlay {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 999;

  &__title {
    width: 90%;
    font-family: 'futura-pt', sans-serif;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    text-align: center;

    &--top {
      top: 40%;
      font-size: $--step-up-5;
      font-weight: 700;
    }
    &--bottom {
      top: 60%;
      font-size: $--step-up-3;

      @media screen and (min-width: $break-med) {
        top: 50%;
      }
    }
  }
}
