.categories {
  font-size: $--step-down-1;
  font-family: 'futura-pt', sans-serif;
  position: fixed;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  z-index: 99;
  visibility: hidden;

  @media screen and (min-width: $break-med) {
    visibility: visible;
  }

  &__list {
    margin-top: 2.5rem;
    text-align: center;
  }

  &__item {
    display: inline-block;
    list-style: none;
    margin-right: 2rem;

    &:hover {
      cursor: pointer;
      color: $red;
    }
  }
}
