.pagination {
  font-size: $--step-up-1;
  font-family: 'futura-pt', sans-serif;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 10rem 0 5rem 0;

  &__view {
  font-family: inherit;
   border: none;
   padding: 1em 2em;
   -webkit-box-shadow: 0px 2px 10px -10px #808080;
           box-shadow: 0px 2px 10px -10px #808080;
   -webkit-transition: -webkit-box-shadow 300ms;
   transition: -webkit-box-shadow 300ms;
   transition: box-shadow 300ms;
   transition: box-shadow 300ms, -webkit-box-shadow 300ms;

   &:focus {
     outline: 0;
   }

   &:hover {
     cursor: pointer;
     -webkit-box-shadow: 2px 10px 20px -5px #808080;
             box-shadow: 2px 10px 20px -5px #808080;
   }
   &:active {
     cursor: pointer;
     background-color: $red;
     -webkit-box-shadow: 0px 0px 0px 0px #808080;
             box-shadow: 0px 0px 0px 0px #808080;
   }
 }
 &__complete {
   padding: 1em 0;
 }
}
