.post {
  font-size: 1.8rem;
  margin-top: 4rem;

  @media screen and (min-width: $break-big) {
    font-size: 2rem;
  }

  &__intro {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45vw;
    z-index: -1;
  }
  &__container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;


    @media screen and (min-width: $break-med) {
      overflow: hidden;
      width: 49%;
    }
  }
  &__featured {
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: auto;
    height: 100vw;
    top: 3%;
    /* visibility: hidden; */
    opacity: 1;
    -webkit-backface-visibility: hidden;

    @media screen and (min-width: $break-med) {
      height: 45vw;

    }
  }
  &__title {
    text-align: center;
    width: 100%;
    color: white;
    display: inline-block;
    font-size: $--step-up-3;

    @media screen and (min-width: $break-med) {
      max-width: 45vw;
      position: absolute;
      top: 55%;
      left: 0%;
      text-align: left;
      color: black;
    }

    @media screen and (min-width: $break-large) {
      font-size: $--step-up-5;
    }
  }
  &__meta {
    text-align: left;
    display: inline-block;
    color: white;

    @media screen and (min-width: $break-med){
      color: black;
      position: absolute;
      top: 80%;
      left: 0%;
    }

  }
  &__heading {
    // display: inline-block;
    font-family: 'futura-pt', sans-serif;

    &--top {
      padding-bottom: 1em;
    }
  }
  &__rule {
    opacity: 0.3;
    display: block;
    width: 30px;
    margin-left: 0;
    border-width: 2px;
    border-style: solid;
  }
  &__content {
    padding: 4rem 10% 10rem 10%;
    margin-top: 105vw;
    background-color: white;
    line-height: 1.6;
    // font-size: $--step-up-1;
    font-family: 'futura-pt', sans-serif;

    @media screen and (min-width: $break-med){
      margin-top: 50vw;
    }

    &-img {
      display: inline-block;
      height: auto;
      width: 75vw;
      padding: 1vw;

      @media screen and (min-width: $break-med) {
        width: 65vw;
      }
      @media screen and (min-width: $break-large) {
        width: 50vw;
      }
    }
    &-text {
      text-align: left;
      padding: 1em;


      @media screen and (min-width: $break-med) {
        padding: 1em 10%;
      }
      @media screen and (min-width: $break-large) {
        padding: 1em 20%;
      }

      &--heading {
        padding: $--step-down-2;
        font-size: $--step-up-2;
        font-weight: 700;

        @media screen and (min-width: $break-med) {
          padding: 0em 10%;
        }
        @media screen and (min-width: $break-large) {
          padding: 0em 20%;
        }
      }
      &--subheading {
        // font-size: $--step-up-1;
        font-weight: 700;
      }
      &--blurb {
        font-family: 'EB Garmond', serif;
        font-size: $--step-up-1;
        font-style: italic;
        // padding: 1.5em 20%;
        text-align: center;
      }

    }
  }

  &__scroll-btn {
    position: fixed;
    bottom: 3%;
    right: 3%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0.3;
    z-index: 999;

    @media screen and (min-width: $break-med) {
      width: 50px;
      height: 50px;
    }
  }


  .bottom {
    padding: 2rem 0;
    background-color: white;

    &__component {
      display: inline-block;
      width: 40%;
      text-align: left;
      vertical-align: top;

      @media screen and (min-width: $break-med) {
        width: 25%;
      }
    }

    &__title {
      font-family: 'futura-pt', sans-serif;
    }

    &__link {
      font-size: $--step-up-1;
      margin: .5em 0;
      cursor: pointer;
      -webkit-transition: all 300ms;
      transition: all 300ms;

      &:hover {
        -webkit-transform: translateX(5px);
                transform: translateX(5px);
        color: $red;
      }
    }
  }
}

// From CSS Tricks to deal with embedded videos
.videoWrapper{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

    iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}
