.post {
  font-size: 1.4rem;
  margin-top: 4rem;

  &__intro {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45vw;
    z-index: -1;
  }
  &__container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;

    @media screen and (min-width: $break-med) {
      width: 49%;
    }
  }
  &__featured {
    position: absolute;
    transform: translateX(-50%);
    width: auto;
    height: 100vw;
    top: 3%;
    /* visibility: hidden; */
    opacity: 1;
    -webkit-backface-visibility: hidden;

    @media screen and (min-width: $break-med) {
      height: 45vw;

    }
  }
  &__title {
    text-align: center;
    width: 100%;
    color: white;
    display: inline-block;
    font-size: $--step-up-3;

    @media screen and (min-width: $break-med) {
      max-width: 45vw;
      position: absolute;
      top: 30%;
      left: 0%;
      text-align: left;
      color: black;
    }

    @media screen and (min-width: $break-large) {
      font-size: $--step-up-5;
    }
  }
  &__meta {
    text-align: left;
    display: inline-block;
    color: white;

    @media screen and (min-width: $break-med){
      color: black;
      position: absolute;
      top: 55%;
      left: 0%;
    }

  }
  &__heading {
    padding: 1em 0 .5em 0;
    color: #808080;
    text-transform: lowercase;
    font-family: 'futura pt', sans-serif;

  }
  &__content {
    padding: 4rem 2vw;
    background-color: white;
    margin-top: 105vw;
    line-height: 1.6;
    font-family: 'futura pt', sans-serif;

    @media screen and (min-width: $break-med){
      margin-top: 50vw;
    }
  }

  @media screen and (min-width: $break-big) {
    font-size: 1.8rem;
  }

}
